*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #573824;
  background-image: url(assets/bg-image.png);
  background-size: cover;
}

#page {
  font-family: "Alice";
  font-style: normal;
  box-sizing: border-box;
  width: 800px;
  padding: 24px;
  background-color: #F0E8C2;
  border-radius: 24px;
  margin: 48px auto 28px;
}

img{
  border-radius: 16px;
}

main{
  padding: 24px;
}

section + section{
  margin-top: 24px;
}


#about p{
  max-width: 539px;
}

#about p + p{
  margin-top: 12px;
}

p{
  
  font-weight: 400;
  font-size: 16px;
}

h1{
  line-height: 140%;
  font-size: 40px;
}


h2{
  font-size: 24px;
}

h1, h2{
  color: #291B1A;
  font-weight: 400;
  margin-bottom: 4px;
  line-height: 150%;
}

ul{
  padding-left: 24px;
}

footer{
  color: #F0E8C2;
  text-align: center;
}

a{
  color: #F0E8C2;
}
