:root{
  --background-color{color: #573824;};
  --surface-color{color: #f0e8C2;};
  --text-color-primary{color: #291B1A;};
  --text-color-secondary{color: #573A37;};
  --text-color-on-bg{color: #F0E8C2;};
}

img{
  border-radius: 16px;
}
